<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    style="
      font-family: 'Poppins', sans-serif;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      box-sizing: border-box;
      text-align: center;
      background-color: black;
      color: white;
    "
  >
    <header
      style="
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        box-sizing: border-box;
        text-align: center;
        background-color: black;
        color: white;

        font-size: 1rem;
      "
    >
      <a
        href="https://providerstore.vercel.app/"
        target="_blank"
        style="
          font-family: 'Poppins', sans-serif;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
          box-sizing: border-box;
          text-align: center;
          background-color: black;
          max-width: 600px;
          min-width: 400px;
          width: 100%;
          padding-left: 5rem;
          padding-right: 5rem;
          margin: auto;
        "
      >
        <img
          src="https://res.cloudinary.com/dsyjj0sch/image/upload/v1659650791/PROVIDER_LOGO_glitch_aberration_kt2hyv.png"
          alt="Provider - "
          style="
            font-family: 'Poppins', sans-serif;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            box-sizing: border-box;
            text-align: center;
            background-color: black;

            width: 300px;
            padding-top: 3rem;
          "
        />
      </a>
    </header>

    <header
      style="
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        box-sizing: border-box;
        text-align: center;
        background-color: black;
        color: white;

        font-size: 1rem;
        max-width: 600px;
        min-width: 400px;
        width: 100%;
        margin: auto;
      "
    >
      <h1
        style="
          font-family: 'Poppins', sans-serif;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
          box-sizing: border-box;
          text-align: center;
          background-color: black;
          color: white;
          max-width: 600px;
          min-width: 400px;
          width: 100%;
          padding-left: 5rem;
          padding-right: 5rem;
          margin: auto;

          padding-bottom: 2rem;
          padding-top: 1.5rem;
          font-size: 1.5rem;
        "
      >
        Cuenta recuperada
      </h1>
      <p
        style="
          font-family: 'Poppins', sans-serif;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
          box-sizing: border-box;
          text-align: center;
          background-color: black;
          color: white;
          max-width: 600px;
          min-width: 400px;
          width: 100%;
          padding-left: 5rem;
          padding-right: 5rem;
          margin: auto;

          font-size: 1rem;
        "
      >
        Hemos revisado el caso y no has incumplido con nuestros términos y
        condiciones.
      </p>
      <p
        style="
          font-family: 'Poppins', sans-serif;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
          box-sizing: border-box;
          text-align: center;
          background-color: black;
          color: white;
          max-width: 600px;
          min-width: 400px;
          width: 100%;
          padding-left: 5rem;
          padding-right: 5rem;
          margin: auto;

          font-size: 1rem;
        "
      >
        Nos hemos retractado y hemos dado de alta tu cuenta nuevamente.
      </p>
      <p
        style="
          font-family: 'Poppins', sans-serif;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
          box-sizing: border-box;
          text-align: center;
          background-color: black;
          color: white;
          max-width: 600px;
          min-width: 400px;
          width: 100%;
          padding-left: 5rem;
          padding-right: 5rem;
          margin: auto;

          font-size: 1rem;
        "
      >
        Te pedimos disculpas por el inconveniente.
      </p>
    </header>

    <footer
      style="
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        box-sizing: border-box;
        text-align: center;
        background-color: black;
        color: white;
      "
    >
      <div
        style="
          font-family: 'Poppins', sans-serif;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
          box-sizing: border-box;
          text-align: center;
          background-color: black;
          color: white;
          max-width: 600px;
          min-width: 400px;
          width: 100%;
          margin: auto;

          font-size: 0.9rem;

          padding: 2rem 5rem;
          border-bottom: 1px solid white;
        "
      >
        Si has recibido este email por error ponte en contacto con nosotros.
      </div>
      <div
        style="
          font-family: 'Poppins', sans-serif;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
          box-sizing: border-box;
          text-align: center;
          background-color: black;
          color: white;
          max-width: 600px;
          min-width: 400px;
          width: 100%;
          padding-left: 5rem;
          padding-right: 5rem;
          margin: auto;

          padding-bottom: 0.5rem;
          padding-top: 2rem;
          font-size: 0.75rem;
        "
      >
        © 2022 Provider S.R.L. Todos los derechos reservados
      </div>
      <div
        style="
          font-family: 'Poppins', sans-serif;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
          box-sizing: border-box;
          text-align: center;
          background-color: black;
          color: white;
          max-width: 600px;
          min-width: 400px;
          width: 100%;
          padding-left: 5rem;
          padding-right: 5rem;
          margin: auto;

          padding-bottom: 2.5rem;
          font-size: 0.75rem;
        "
      >
        <a
          href=""
          style="
            font-family: 'Poppins', sans-serif;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            box-sizing: border-box;
            text-align: center;
            background-color: black;
            color: white;

            font-size: 0.75rem;
          "
        >
          Términos y condiciones
        </a>
      </div>
    </footer>
  </body>
</html>
